<div class="wrapper mt-4">
    <div class="sector circlic-area" style="transform: rotate(75deg) skew(60deg);"></div>
    <div class="sector circlic-area" style="transform: rotate(105deg) skew(60deg);"></div>
   <div class="sector circlic-area" style="transform: rotate(135deg) skew(60deg);"></div>
    <div class="sector circlic-area" style="transform: rotate(165deg) skew(60deg);"></div>
    <div class="sector circlic-area" style="transform: rotate(195deg) skew(60deg);"></div>
    <div class="sector circlic-area" style="transform: rotate(225deg) skew(60deg);"></div>
    <div class="sector circlic-area" style="transform: rotate(255deg) skew(60deg);"></div>
    <div class="sector circlic-area" style="transform: rotate(285deg) skew(60deg);"></div>
    <div class="sector circlic-area" style="transform: rotate(315deg) skew(60deg);"></div>
    <div class="sector circlic-area" style="transform: rotate(345deg) skew(60deg);"></div>
    <div class="sector circlic-area" style="transform: rotate(375deg) skew(60deg);"></div>
    <div class="sector circlic-area" style="transform: rotate(405deg) skew(60deg);"></div>
</div>
