</h2>
<br>
<br>
<br>
<br>


<div class="col-sm-6">
  <h3>Adjust The Stepper Position</h3>
  <button id="Anti-Clock-Wise" type="button" class="btn btn-secondary">Anti-Clock</button>
  <button id="Clock-Wise" type="button" class="btn btn-secondary">Clock-Wise</button>
</div>

<div class="col-sm-6">
  <h3>Number Of Sensors</h3>
  <form action="/" method="GET">
    <div class="form-group">
      <label for="sensors">Number of Sensors in Project</label>
      <input name="sensors" type="number" class="form-control" id="sensors">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
</div>

<div class="row">
 <div class="col-sm-12 d-flex justify-content-center mt-4 border">
    <br>
    <br>
    <br>
